
	body{
	background: #222 url(images/bird.jpg) 0 0 /100% 100% fixed;
}

a{
	text-decoration: none;
}

p{
	color: #4bb;
	font-size: 20px;
}
	.decor{
		border: 5px dashed #800;
		width: 400px;
		padding: 20px;
		background: #000;
		margin-top: 25px;
		margin-left: 100px;
		border-radius: 20px;

	}
	.StudInfo input{
		display: block;
		border-radius: 10px;
		color: #050;
		font-size: 20px;
		margin-top: 12px;
		margin-bottom: 9px;
		width: 230px;
	}

	.StudInfo input:focus{
		box-shadow: 0 0 15px red;
	}
	.StudInfo input[type="submit"], .StudInfo input[type="reset"]{
		background: #002400;
		color: #ffb;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 20px;
		border-radius: 26px;
		max-width: 230px;
		cursor: pointer;
		transition: 0.3s;
	}

	.StudInfo input[type="submit"]:hover, .StudInfo input[type="reset"]:hover{
		background: #000;
		color: #fd2;
		transform: scale(1.1);
		box-shadow: 0 0 30px #f00;
	}

	.StudInfo input:hover{
		box-shadow: 0 0 15px #50f;
	}

	.abutton{
	display: inline-block;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	color: #f00;
	transition: 0.3s;
}

.abutton:hover{
	transform: scale(2.5);
 }

.alert a{
	font-size: 30px;
}

#overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(7, 20, 0, 0.9);
	transition: opacity 0.5s;
	visibility: hidden;
	opacity: 0;
}

#overlay:target{
	visibility: visible;
	opacity: 1; 
}

.popup{
	margin: 30px auto;
	padding: 30px;
	background: #EFD218;
	border-radius: 20px;
	width: 40%;
	position: relative;
}

.popup h2{
	font-size: 35px;
	margin-top: 5px;
	color: #315606;
	font-family: Snell Roundhand, cursive;
}

.popup .close{
	position: absolute;
	top: 5px;
	right: 20px;
	color: #200;
	font-size: 40px;
	font-weight: 900;
	text-decoration: none;
	transition: all 200ms;
}

.popup .close:hover {
	color: red;
}

.popup .content {
	overflow: auto;
	font-size: 27px;
	color: #000;
}


